<!DOCTYPE html>
<html>
<head>
	<title>Assignment-13</title>
	<link rel="stylesheet"  href="ass13.css">
</head>
<body>
	<header>
		<h1><span>J</span>spiders Institute</h1>
	<div id="nav-links">
		<a href="">Updates</a>
		<a href="">About</a>
		<a href="">Gallery</a>
		<a href="">Contact</a>
	</div>
	</header>
	
	<div class="lp">
		<div class="wp">
			<h1>Welcome To <span>J</span>spiders</h1>
			<p>Jspiders is the world’s ace java development training organization with an aim to bridge the gap between the demands of the industry and the curriculum of educational institutions. With centers across India, the institute is a platform where young minds are given the opportunity to build successful careers.</p>
			<button>Learn more</button>
			
		</div>
	</div>
</body>
</html>