{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>bs local modal</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/mdb.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="../fa/css/all.css">
	<style>
		img
		{
			height: 150px!important;
			width: 100%!important;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-expand-md">
		<div class="container-fluid">
			<a href="" class="navbar-brand">Flipcart</a>
		</div>
	</nav>

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/edu.jpg' %}">
						<div class="card-body">
							<h3 class="card-title">Mself</h3>
							<p class="card-text">Order Personalized Gifts to Keep Your Loved Ones Close Forever. 99 Day Returns. Customize a beautiful piece of jewelry with your favorite stones</p>
							<button class="btn btn-dark btn-md">add to cart</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/edu.jpg' %}">
						<div class="card-body">
							<h3 class="card-title">Mself</h3>
							<p class="card-text">Order Personalized Gifts to Keep Your Loved Ones Close Forever. 99 Day Returns. Customize a beautiful piece of jewelry with your favorite stones.</p>
							<button class="btn btn-dark btn-md">add to cart</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/edu.jpg' %}">
						<div class="card-body">
							<h3 class="card-title">Mself</h3>
							<p class="card-text">Order Personalized Gifts to Keep Your Loved Ones Close Forever. 99 Day Returns. Customize a beautiful piece of jewelry with your favorite stones.</p>
							<button class="btn btn-dark btn-md">add to cart</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/edu.jpg' %}">
						<div class="card-body">
							<h3 class="card-title">Mself</h3>
							<p class="card-text">Order Personalized Gifts to Keep Your Loved Ones Close Forever. 99 Day Returns. Customize a beautiful piece of jewelry with your favorite stones.</p>
							<button class="btn btn-dark btn-md">add to cart</button>
						</div>
					</div>
				</div>
			</div>




		</div>
	</div>

	<div>
		<h1>Add To Cart</h1>
		<p class="lead">Order Personalized Gifts to Keep Your Loved Ones Close Forever. 99 Day Returns. Customize a beautiful piece of jewelry with your favorite stones or an engraving.Order Personalized Gifts to Keep Your Loved Ones Close Forever. 99 Day Returns. Customize a beautiful piece of jewelry with your favorite stones or an engraving.</p>
	</div>

	<div>
		<table class="table">
			<thead>
				<tr>
					<th>product Id</th>
					<th>product Image</th>
					<th>product Name</th>
					<th>product Quantaty</th>
					<th>product total Price</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<th>101</th>
					<th><img src="{% static 'images/edu.jpg' %}" ></th>
					<th>Neck Chain</th>
					<th>1</th>
					<th>10000/-</th>
				</tr>
				<tr>
					<th>102</th>
					<th><img src="{% static 'images/edu.jpg' %}" ></th>
					<th>Neck Chain</th>
					<th>1</th>
					<th>10000/-</th>
				</tr>
				<tr>
					<th>103</th>
					<th><img src="{% static 'images/edu.jpg' %}" ></th>
					<th>Neck Chain</th>
					<th>1</th>
					<th>10000/-</th>
				</tr>
				<tr>
					<th>104</th>
					<th><img src="{% static 'images/edu.jpg' %}" ></th>
					<th>Neck Chain</th>
					<th>1</th>
					<th>10000/-</th>
				</tr>
				<tr>
					<th>105</th>
					<th><img src="{% static 'images/edu.jpg' %}" ></th>
					<th>Neck Chain</th>
					<th>1</th>
					<th>10000/-</th>
				</tr>
			</tbody>
		</table>
	</div>




<!-- Script Code -->
<script src="../mbd/js/jquery.js"></script>
<script src="../mbd/js/popper.js"></script>
<script src="../mbd/js/bootstrap.js"></script>
<script src="../mbd/js/mdb.js"></script>
</body>
</html>