{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Cards</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/mdb.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<style>
		.img-class
		{
			width: 100vh!important;
			height: 100vh!important;
		}
	</style>
</head>
<body>
	
<div class="container-fluid mt-5">
		<div class="row">
			<div class="col mb-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/flipkart.jpg' %}" alt="Image Not Found" class="img-fluid">
					</div>
					<div class="card-body bg-yellow">
						<h3>Flipkart :-</h3>
						<p></p>
						<button class="btn btn-md btn-yellow">Add To Cart</button>
					</div>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/flipkart.jpg' %}" alt="Image Not Found" class="img-fluid">
					</div>
					<div class="card-body bg-yellow">
						<h3>Flipkart :-</h3>
						<p></p>
						<button class="btn btn-md btn-yellow">Add To Cart</button>
					</div>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/flipkart.jpg' %}" alt="Image Not Found" class="img-fluid">
					</div>
					<div class="card-body bg-yellow">
						<h3>Flipkart :-</h3>
						<p></p>
						<button class="btn btn-md btn-yellow">Add To Cart</button>
					</div>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/flipkart.jpg' %}" alt="Image Not Found" class="img-fluid">
					</div>
					<div class="card-body bg-yellow">
						<h3>Flipkart :-</h3>
						<p></p>
						<button class="btn btn-md btn-yellow">Add To Cart</button>
					</div>
					<div class="card-footer"></div>
				</div>
			</div>
		</div>
	</div>

<script src="../mbd/js/jquery.js"></script>
<script src="../mbd/js/popper.js"></script>
<script src="../mbd/js/bootstrap.js"></script>
<script src="../mbd/js/mdb.js"></script>
</body>
</html>