<!DOCTYPE html>
<html>
<head>
	<title>Assignment-8</title>
	<style>
		table
		{
			width: 100%;
		}
		td
		{
			padding: 10px;
		}
		body
		{
			background-color: skyblue;
		}
		fieldset
		{
			border: 2px solid red;
			background-color: pink;
			border-radius: 0px 10px 0px 10px;
		}
		input
		{
			border-radius: 5px;
		}
		fieldset>legend
		{
			border: 1px solid yellow;
			border-radius: 0px 15px 0px 15px;
			padding: 10px 5px;
			background: linear-gradient(45deg,);
		}
		#two1>fieldset
		{
			margin-bottom: 20px;
			display: block;
		}
		div
		{
			padding: 20px;
		}
		textarea
		{
			border-radius: 10px;
		}
	</style>
</head>
<body>
	<h1 align="center">Online Job Applivation</h1>
	<div>
		<form>

			<fieldset>
				<legend>Personal Information</legend>
				<table>
					<tr>
						<td><label>First Name</label></td>
						<td><input type="text" name=""></td></td>
						<td><label>Middle Name</label></td>
						<td><input type="text" name=""></td></td>
						<td><label>Last Name</label></td>
						<td><input type="text" name=""></td></td>
					</tr>
					<tr>
						<td><label>Father's Name</label></td>
						<td><input type="text" name=""></td></td>
						<td><label>Mothers Name</label></td>
						<td><input type="text" name=""></td></td>
					</tr>
					<tr>
						<td><label>Current Address</label></td>
						<td><textarea rows="3"></textarea></td></td>
						<td><label>Permanent Address</label></td>
						<td><textarea rows="3"></textarea></td></td>
					</tr>
					<tr>
						<td>Phone Numbers</td>
					</tr>
					<tr>
						<td><label>Landline Number</label></td>
						<td><input type="number"></input></td>
						<td><label>Landline Number</label></td>
						<td><input type="number"></input></td>
					</tr>
					<tr>
						<td><label>Date of Birth</label></td>
						<td><input type=" " /></td>
						<td><label>Place of Birth</label></td>
						<td><input type=""></input></td>
					</tr>
					<tr>
						<td><label>Select Gender</label></td>
						<td><input type="radio" name="r1">Male</input></td>
						<td><input type="radio" name="r1">Female</input></td>
					</tr>
					<tr>
						<td><label>Highest Qualification</label></td>
						<td><input type="text"></input></td>
						<td><label>Year of Passing</label></td>
						<td><input type="number"></input></td>
					</tr>
					<tr>
						<td><label>Languages Known</label></td>
						<td><input type="checkbox">Telugu</input></td>
						<td><input type="checkbox">Hindi</input></td>
						<td><input type="checkbox">English</input></td>
					</tr>
					<tr><td><label>Select Your Hobbies</label></td>
						<td><input type="checkbox">Eating</input></td>
						<td><input type="checkbox">Coding</input></td>
						<td><input type="checkbox">Sleeping</input></td>
					</tr>
					<tr>
						<td><label>About yourself</label></td>
						<td>
							<textarea rows="4"></textarea>
						</td>
					</tr>
					<tr>
						<td><label>Nationality</label></td>
						<td>
							<select>
								<option>..Select..</option>
								<option>Indian</option>
								<option>American</option>
								<option>Africa</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label>Aadhar Card Number</label></td>
						<td><input type="number"></input></td>
						<td><label>PANCARD Number</label></td>
						<td><input type="number"></input></td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>

	<div id="two">
		<form>
			<fieldset>
				<legend>Education Details</legend>
				<table>
					<tr>
						<td><label>SNO</label></td>
						<td><label>Qualification</label></td>
						<td><label>Institite/University</label> </td>
						<td><label>Year of Passing</label> </td>
						<td><label>Marks(%)</label> </td>
					</tr>
					<tr>
						<td>1</td>
						<td><input type="text" name=""></input> </td>
						<td><input type="text" name=""></input> </td>
						<td><select>
							<option></option>
							<option>2020</option>
							<option>2021</option>
							<option>2022</option>
							<option>2023</option>
						</select> </td>
						<td><input type="text" name=""></input> </td>
					</tr>
					<tr>
						<td>2</td>
						<td><input type="text" name=""></input> </td>
						<td><input type="text" name=""></input> </td>
						<td><select>
							<option></option>
							<option>2020</option>
							<option>2021</option>
							<option>2022</option>
							<option>2023</option>
						</select> </td>
						<td><input type="text" name=""></input> </td>
					</tr>
					<tr>
						<td>3</td>
						<td><input type="text" name=""></input> </td>
						<td><input type="text" name=""></input> </td>
						<td><select>
							<option></option>
							<option>2020</option>
							<option>2021</option>
							<option>2022</option>
							<option>2023</option>
						</select> </td>
						<td><input type="text" name=""></input> </td>
					</tr>

				</table>
			</fieldset>
		</form>
	</div>

	<div>
		<form>
			<fieldset>
				<legend>Work Experience</legend>
				<table>
					<tr>
						<td><label>SNO</label> </td>
						<td><label>Company</label> </td>
						<td><label>Work/Roles</label> </td>
						<td><label>From Date</label> </td>
						<td><label>To Date</label> </td>
					</tr>
					<tr>
						<td>1</td>
						<td><textarea rows="3" cols="30"></textarea></td>
						<td><textarea rows="3" cols="30"></textarea></td>
						<td><select><option></option></select></td>
						<td><select><option></option></select></td>
					</tr>
					<tr>
						<td>2</td>
						<td><textarea rows="3" cols="30"></textarea></td>
						<td><textarea rows="3" cols="30"></textarea></td>
						<td><select><option></option></select></td>
						<td><select><option></option></select></td>
					</tr>
					<tr>
						<td>3</td>
						<td><textarea rows="3" cols="30"></textarea></td>
						<td><textarea rows="3" cols="30"></textarea></td>
						<td><select><option></option></select></td>
						<td><select><option></option></select></td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>
	 <div>
	 	<form>
	 		<fieldset>
	 			<legend>Other Details</legend>
	 			<table>
	 				<tr>
	 					<td><label>Job Type</label></td> 
	 					<td><input type="radio" name="r1">Premantent</input></td>
	 					<td><input type="radio" name="r1">Contract</input></td>
	 					<td><input type="radio" name="r1">Others</input></td>
	 				</tr>
	 				<tr>
	 					<td><label>Date of Joining</label> </td>
	 					<td><select><option></option></select></td>
	 					<td><label>Time of Joining</label> </td>
	 					<td><select><option></option></select></td>
	 				</tr>
	 				<tr>
	 					<td><label>Perferred Job Location</label> </td>
	 					<td><input type="radio" name="">Hyderabad</input> </td>
	 					<td><input type="radio" name="">Bangalore</input> </td>
	 					<td><input type="radio" name="">Other</input> </td>
	 				</tr>
	 				<tr>
	 					<td><label>Willing to Relocate to Hyderabad ?</label> </td>
	 					<td><input type="radio" name="r1">Yes</input> </td>
	 					<td><input type="radio" name="r1">No</input> </td>
	 				</tr>
	 				<tr>
	 					<td><input type="checkbox" name="">I am here declaring that all the above menctioned information is true as per my knowledge.</input> </td>
	 				</tr>
	 				<tr>
	 					<td><input type="submit" name=""> </td>
	 					<td><input type="reset" name=""> </td>
	 					
	 				</tr>
	 			</table>
	 		</fieldset>
	 	</form>
	 </div>
</body>
</html>