<!DOCTYPE html>
<html>
<head>
	<title>Assignment-6</title>
	<style>
		body{
			background-color: sandybrown;
			
		}
		tr{
			border: 2px solid black;
		}
	</style>
</head>
<body>
	<h1 align="center">KM Custom HTML Form Example Using AppleScript</h1>
	<h3 align="center">(by JMichaeiTX)</h3>
	<div>
		<table border="1px"  align="center">
			<tr>
				<td><label>Name:</label></td>
				<td><input type="text"></input></td>
			</tr>
			<tr>
				<td><label>Email:</label></td>
				<td><input type="email"></input></td>
			</tr>
			<tr>
				<td><label>Password:</label></td>
				<td><input type="password"></input></td>
			</tr>
			<tr>
				<td><label>Approval Required:<br>Click on the button or text to check/uncheck.</label></td>
				<td><input type="checkbox" name=" "></input>Do you approve?</td>
			</tr>
			<tr>
				<td><label>Pick Your Favorite:<br>
					Click on the button or text to select.
				</label></td>
				<td><input type="radio" name="r1">Choice A</input><br>
					<input type="radio" name="r1">Choice B</input><br>
					<input type="radio" name="r1">Choice C</input></td></td>
			</tr>
			<tr>
				<td><label>Popup Menu:</label></td><td><select>
					<option>Texas--TX</option>
				</select></td>
			</tr>
			<tr>
				<td><label>List:<ul>Setup Options:
					<li>Number of row to display</li>
					<li>Allow Multi-select</li></ul></label></td>
				<td><textarea>California--CA
				Colorado--CO
				Connecticut--CN
				Dalifornia--DA
				Dolorado--DO</textarea>
			</td>
			</tr>
			<tr>
				<td><label>Field Ignored by KM</label></td>
				<td><input type="number"></input></td>
			</tr>
			<tr>
				<td>
					<label>Text Area</label>
				</td>
				<td>
					<input type="text" name=""></td>
				</td>
			</tr>
			<tr><td colspan="2">
				<button>Save</button>
				<button>Cancel</button>
				<button>Resize</button>
			</td>
			</tr>
		</table>
	</div>
</body>
</html>