<!DOCTYPE html>
<html>
<head>
	<title>Assignment-7</title>
	<style>
		#two{
			background-color: rosybrown;
			text-align: center;
			padding: 50px;
			font-size: 30px;
			font-style: oblique;
		}
		#three{
			color: red;
			background-color: pink;
			text-decoration: none;
			width: 300px;
			height: 300px;
		}
		a{
			text-align: center;
			display: block;
		}
		#four{
			margin: -322px 0px 0px 300px;
			background-color: limegreen;
			height: 300px;
		}
		#five{
			background-color: blue;
			padding: 20px;
			text-align: center;
		}
		
	</style>
</head>
<body>
	<div id="one">
	<div id="two">
		JavaJam Coffee House
	</div>
	<div id="three">
		<br>
		<a href="">Home</a><br>
		<a href="">Menu</a><br>
		<a href="">Music</a><br>
		<a href="">Jobes</a><br>
	</div>
	<div id="four">
		<h1>Jobes at JavaJam</h1>
		<h4>Want to work at JavaJam? Fill out the form below to start your application. Request fields are marked with an asterisk*</h4>
		<form>
			<table>
				<tr><td>
					<label>Name:</label></td>
					<td><input type="text"></input></td>
				</tr>
				<tr><td>
					<label>E-mail::</label></td>
					<td><input type="email"></input></td>
				</tr>
				<tr><td>
					<label>Start Date::</label></td>
					<td><input type="number"></input></td>
				</tr>
				<tr><td>
					<label>Experience:</label></td>
					<td><input type="number"></input></td>
				</tr>
				<tr><td><button>Apply Here</button></td></tr>
			</table>
		</form>
	</div>
	<div id="five">
		<h4>If we want to accept your request please come and contact us</h4>
		<h3>Contact:93xxxxxx06  Email:myth@gmail.com</h3> 
	</div>
	</div>
</body>
</html>