{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Horizantal-Card</title>
	<title>Navbar</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/mdb.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<style>
		img
		{
			height: 100vh!important;
			width: 100vh!important;
		}
	</style>
</head>
<body>
	<div class="container mt-4">
		<div class="card">
			<div class="row">
				<div class="col-md-4">
					<img src="" alt="" class="image-fluid">
				</div>
				<div class="col-md-8  bg-light">
					<h1 class="mt-2"  >UI COURSES</h1>
					<p>Jspiders is the world’s ace java development training organization with an aim to bridge the gap between the demands of the industry and the curriculum of educational institutions.</p>
					<button class="btn btn-dark btn-md">Learn More</button>
				</div>
			</div>
		</div>

	</div>


<!-- Script Code -->
<script src="../mbd/js/jquery.js"></script>
<script src="../mbd/js/popper.js"></script>
<script src="../mbd/js/bootstrap.js"></script>
<script src="../mbd/js/mdb.js"></script>
</body>
</html>