{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Navbar</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/mdb.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="../fa/css/all.css">


	<style>
		#landing-page
		{
			height: 100vh!important;
			background: black url("{% static 'images/edu.jpg' %}") no-repeat 0px 0px scroll;
			background-size: cover;
		}
		#landing-page>.wrapper
		{
			background-color: rgba(0,0,0,0.3);
			height: inherit;
		}
	</style>
</head>
<body>
	<!-- Navbar -->

	<nav class="navbar navbar-dark bg-dark navbar-expand-md">
		<div class="container-fluid">
			<a href="" class="navbar-brand text-warning">Jspiders</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#links">
				<span class="navbar-toggler-icon"></span>
			</button>
 
			<div class="collapse navbar-collapse" id="links">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item p-2">
						<a href="" class="nav-links">Course</a>
					</li>
					<li class="nav-item p-2">
						<a href="" class="nav-links">Gallery</a>
					</li>
					<li class="nav-item p-2"> 
						<a href="" class="nav-links">Placements</a>
					</li>
					<li class="nav-item p-2">
						<a href="" class="nav-links">Contact</a>
					</li>
					<li class="nav-item p-2">
						<a href="" class="nav-links">Details</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>


	<!-- Landing-Page -->
	<div id="landing-page">
		<div class="wrapper text-white d-flex flex-column text-center align-items-center justify-content-center">
			<h1>Welcome To <span>J</span>spiders</h1>
			<p>Jspiders is the world’s ace java development training organization with an aim to bridge the gap between the demands of the industry and the curriculum of educational institutions. With centers across India, the institute is a platform where young minds are given the opportunity to build successful careers.</p>
			<button>Learn More</button>
		</div>
	</div>



<!-- Script Code -->
<script src="../mbd/js/jquery.js"></script>
<script src="../mbd/js/popper.js"></script>
<script src="../mbd/js/bootstrap.js"></script>
<script src="../mbd/js/mdb.js"></script>
</body>
</html>