{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Simintic Tags</title>
	<link rel="stylesheet" href="{% static 'css/semantic.css' %} ">
</head>
<body>
	<header>
		<h1>Jspiders Institute</h1>
	</header>
	<nav>
		<a href="">Home</a>
		<a href="">Updates</a>
		<a href="">Courses</a>
		<a href="">Gallery</a>
		<a href="">Contact</a>

	</nav>
		
	<aside>
		<a href="">Html</a>
		<a href="">Css</a>
		<a href="">Python</a>
		<a href="">Django</a>
		<a href="">Flask</a>
		<a href="">Java</a>
		<a href="">DotNet</a>
		<a href="">Javascript</a>
		<a href="">Jsp</a>
		<a href="">Servelets</a>
	</aside>

	<section>
		<h1>Course Details</h1>
		<article>
			<h3>Html:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Css:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Python:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Django:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Flask:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Java:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>DotNet:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Javascript:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Jsp:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		<article>
			<h3>Servelets:</h3>
			<p>Programming is, quite literally, all around us. From the take-out we order, to the movies we stream, code enables everyday actions in our lives. Tech companies are no longer recognizable as just software companies — instead, they bring food to our door, help us get a taxi, influence outcomes in presidential</p>
		</article>
		
	</section>

	<footer>
		<h4>Approach us for more details
		<a href="http://jspiders.com">Jspiders</a> </h4>
		<h5>Contact by (865xxxxx34)</h5>
		<h5>Gmail:jspiders@gmail.com</h5>
	</footer>
</body>
</html>